<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.se328project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE328Project">
        <activity
            android:name=".addCar"
            android:exported="false" />
        <activity
            android:name=".activity_update_car"
            android:exported="false"
            android:label="Add Car"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_delete_car"
            android:exported="false"
            android:label="Delete Car"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".actsqlUpdate"
            android:exported="false"
            android:label="Update Book"
            android:parentActivityName=".actsqlList" />
        <activity
            android:name=".actsqlList"
            android:exported="false"
            android:label="Show SQLite Database"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActsqlAddActivity"
            android:exported="false"
            android:label="Add Book in SQLite"
            android:parentActivityName=".actsqlList" />
        <activity
            android:name=".ActwtActivity"
            android:exported="false"
            android:label="Weather"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActfbActivity"
            android:exported="false"
            android:label="Firebase"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>